.terminal.bashrc
venv/
venv*/
env/**/*
.env
.local.env
node_modules/
__old__/
dump/
business/
backups/
tmp/**/*
dockerdata/
dist/**/*
.vagrant/
Desktop.ini
tmp*
_mox-*.zip

public/**/*
www/docs/docs/assets/**/*
resources/static/bundles
storage/smedia/**/*
storage/media/**/*

moxva/settings/local.py

._*
__pycache__/
.pytest_cache
local_settings.py
*.py[cod]
*.so
.Python
build/**/*
develop-eggs/
eggs/
downloads/
.coverage
htmlcov/**/*
htmlcov.runme
coverage.xml
coverage.*.xml
storage/mailhog/**/*

pip-log.txt
*.log
storage/logs/**/*
*.pot

_*.todo

db.sqlite3
app.db
test.db
*.db
test.html
